<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Pipopipette</title>
</head>
    <link href="<%= static_path(@conn, "/css/app.css") %>" rel="stylesheet" />
<body>
    <%= render(@view_module, @view_template, assigns) %>
</body>
