
<div class="container">
    <section class="section">
        <div id="app" class="content" />
    </section>
</div>
<script type="text/javascript">
  window.gameConfig = {
    selfPlayerId: '<%= @player_id %>'
  }
</script>
<script src='<%= static_path(@conn, "/js/app.js") %>'></script>
